html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: black;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div {
  overflow: hidden;
  position: relative;
}

div img {
  width: 250%;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: .7;
}

div h2 {
  position: absolute;
  color: #000;
  font-family: cubano, sans-serif;
  font-style: normal;
  top: 38%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.home-main {
  margin-bottom: 300px;
}

.home-main h3 {
  color: #000;
  font-family: cubano, sans-serif;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 0;
}

.home-main p {
  color: #000;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  padding: 1em;
  margin-top: -1em;
}

.home-main img {
  width: 100%;
  padding-bottom: 2em;
}

.paws-hor-2 {
  transform: scaleX(-1);
}

.home-column2 article {
  text-align: center;
}

.home-column2 article a {
  text-align: center;
  font-family: cubano, sans-serif;
  font-style: normal;
  color: #000;
}

@media screen and (min-width: 48em) {

  div img {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: .7;
  }

  .home-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    position: relative;
    margin: 0;
    padding-top: 1em;
    margin-bottom: 100px;
  }

  .home-column2 {
    margin-top: -20px;
  }

  .paws-hor-1 {
    transform: scaleX(-1);
    margin-bottom: -250px;
  }

  .paws-hor-2 {
    transform: scaleX(1);
    margin: 0;
  }

  .h3-p p {
    text-align: right;
  }

  .h3-p {
    position: absolute;
    bottom: 150px;
  }

}

@media screen and (min-width: 62.5em) {

  .home-main {
    margin-bottom: -600px;
  }

}

footer {
  width: 100%;
  background-color: #000;
  padding: .2em 1em;
}

h4 {
  text-align: center;
  font-family: cubano, sans-serif;
  font-style: normal;
}

footer p {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-align: center;
  font-size: .8em;
  margin: 0;
}

.phone {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
}

.about-us-main {
  margin-bottom: 700px;
}

.about-us-main h3 {
  color: #000;
  font-family: cubano, sans-serif;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 0;
}

.about-us-main p {
  color: #000;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  padding: 1em;
  margin-top: -1em;
}

.about-us-main img {
  width: 100%;
  padding-bottom: 2em;
}

.about-us-column2 img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.paws-hor-4 {
  transform: scaleX(-1);
}

@media screen and (min-width: 48em) {

  .about-us-main {
    margin-bottom: 200px;
  }

  .about-us-column1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-column1 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .about-us-column2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-column2 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .about-us-column2 img {
    min-width: 30%;
    max-width: 30%;
  }

  .about-us-column3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-column3 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

}

@media screen and (min-width: 62.5em) {

  .about-us-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    height: 50px;
    margin-top: 100px;
  }

  .about-us-column1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    top: -60px;
  }

  .about-us-column1 h3, img, p {
    grid-column: auto;
    grid-row: auto;
  }

  .about-us-column2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    top: -44px;
  }

  .about-us-column2 h3, img, p {
    grid-column: auto;
    grid-row: auto;
  }

  .about-us-column3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    top: -48px;
  }

  .about-us-column3 h3, img, p {
    grid-column: auto;
    grid-row: auto;
  }

  footer {
    margin-top: 700px;
  }

}

.join-us-main {
  margin-bottom: 1100px;
}

.join-us-main h3 {
  color: #000;
  font-family: cubano, sans-serif;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 0;
}

.join-us-main p {
  color: #000;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  padding: 1em;
  margin-top: -100px;
}

.logo2 {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.commandments-ul {
  color: #000;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  padding: 2em;
  margin-top: -1em;
}

.paws-ver-1 {
  max-width: 100vh;
  max-height: 100vw;
  transform: rotate(90deg);
  margin-top: -100px;
}

.paws-ver-2 {
  max-width: 100vh;
  max-height: 100vw;
  transform: rotate(-90deg);
  margin-top: -100px;
}

@media screen and (min-width: 48em) {

  .join-us-main {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    margin-bottom: 100px;
    margin-top: 100px;
    height: 100%;
  }

  .paws-ver-1 {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(0deg) scaleX(-1);
    margin-top: -100px;
  }

  .join-us-main p {
    margin-top: -30px;
  }

  .logo2 {
    max-width: 20%;
  }

  .paws-ver-2 {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(0deg);
    margin-top: -100px;
  }

}

@media screen and (min-width: 62.5em) {

  .join-us-main {
    margin-bottom: -500px;
    margin-top: 100px;
    height: 100%;
  }

}
